.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    padding: 10px;
    color: #ffffff;
    background-color: #008080;
    border: none;
    cursor: pointer;
}

.form__button:active {
    outline: auto;
}

.form__button:hover {
    background-color: #008080dd;
}

.list {
    padding: 20px;
    margin: 0;
    list-style-type: none;
}

.list__item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}

.form__input:focus {
    border: 1px solid #000000;
    border-radius: 2px;
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
}

.list__item--lineThrough {
    text-decoration-line: line-through;
}

.button__done {
    color: #ffffff;
    background-color: #008000;
    margin: 5px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.button__done:hover {
    background-color: #008000cc;
}

.button__remove {
    color: #ffffff;
    background-color: #ff0000;
    margin: 5px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.button__remove:hover {
    background-color: #ff0000cc;
}