html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ededed;
    margin: auto;
    color: #292929;
    max-width: 700px;

}

@media (max-width: 767px) {
    .body {
        max-width: 90%;
    }
}

.header {
    color: #3c3c3c;
    padding: 15px 0;

}
.subHeader {
    color: #3c3c3c;
    padding: 15px;
    border-bottom: 2px solid lightgrey;
    margin: 0;
}